<div align="center" class="jumbotron mt-3">
  <p><b>Sidzina - uslugi w sidzinie</b></p>
</div>

<div class="navbar-header">
  <a routerLinkActive="active"
     href="#" routerLink="/"><span class="m-3">Home</span></a>
  <a routerLinkActive="active" routerLink="/uslugi"><span class="m-3">Uslugi</span></a>
  <a routerLinkActive="active" routerLink="/aukcje"><span class="m-3">Aukcje</span></a>
  <a routerLinkActive="active" routerLink="/konto"><span class="m-3">Konto</span></a>
  <a routerLinkActive="active" routerLink="/galeria"><span class="m-3">Galeria zdjec</span></a>
  <a routerLinkActive="active" routerLink="/kontakt"><span class="m-3">Kontakt</span></a>
</div>




