<div class="container-fluid fmb-3 mt-3 p-3 border">

  <div class="d-inline-block m-5 border">

    <img class="img-thumbnail" src="/assets/img/goreit_logo.jpg" alt="Card image cap">
  </div>

  <div class="d-inline-block">
    <div>
      <p><b>GoreIT - Elastyczne Oprogramowanie</b></p>
    </div>

  </div>


  <div class="container-fluid fmb-3 mt-3 p-3 border">

    <p>Firma GoreIT tworzy oprogramowanie od 2014 roku. Aktualnie wspolpracujemy z firmami finansowymi celem rozwiajania
      ich uslug</p>
    <p>W zwiazku z ogromnym zapotrzebowaniem na specjalistow IT oferujemy szkolenia z programowania i testowania dla
      klienta indywidualnego. </p>

  </div>

  <div class="container-fluid fmb-3 mt-3 p-3 border">

    Technologie ktore wykorzystujemy przy wspolpracy z firmami oraz udziealmy szkolen to :

    <ul class="m-3">
      <li> Java 11</li>
      <li> Spring</li>
      <li> Hibernate</li>
      <li> SQL</li>
      <li> NOSQL</li>
      <li> PostgreSQL</li>
      <li> Mongo DB</li>
      <li> JUnit</li>
      <li> Selenium</li>
      <li> Rest Assured</li>
      <li>GIT</li>
    </ul>

    <ul class="m-3">
      <li> Agile</li>
      <li> Scrum</li>
      <li> JIRA</li>
      <li> Confluence</li>
      <li> Trello</li>
      <li> Bitbucket</li>
      <li> Jenkins</li>
    </ul>


  </div>

</div>
