<div class="container-fluid border m-3">


  <div class="m-3 d-lg-inline-block border p-3 m-3">
    <ul>
      <li>
        <a routerLinkActive="active" routerLink="/uslugi/dodaj"><span class="m-3">Dodaj usluge</span></a>
      </li>
    </ul>
  </div>


  <div class="m-3 d-lg-inline-block  border p-3 m-3">
    <ul>
      <li>
        <a routerLinkActive="active" routerLink="/aukcje/dodaj"><span class="m-3">Dodaj aukcje</span></a>
      </li>
    </ul>
  </div>
<br />
  <div class="container-fluid border m-3">
    <div class="m-3 d-lg-inline-block  p-3 m-3">
      <div class="d-lg-inline-block">
        <a class="btn" (click)="onTitleClick()"><h3> Twoje portfolio : <u>Portoflio</u></h3></a>
      </div>
    </div>
  </div>

  <div class="container-fluid m-3">

    Tylko zalogowani uzytkownicy widza swoje produkty

  </div>


</div>
